<br/>
<%= link_to "Home", "/posts" %> 
<br/>
<h2><%= @user.name %>'s profile  </h2>     
<% unless current_user.already_friends?(@user) %>
  <% unless current_user == @user %>
    <%= link_to "Add Friend ", "add_friend?user_id=#{@user.id}" %> 
  <% end %>
<% end %>




<ul>
<% @user.posts.each do |post| %>

  <li>
      <%= post.description %> - <%= post.user.email %>
      <br/>
      <br/><%= link_to "Like ", ":id/like?post_id=#{post.id}" %> 
           
     
      <%= post.likes.count %> Likes
      <br/>

      <ul>
      <% post.comments.each do |comment| %>

        <li>
            <%= link_to comment.user.name, "users/#{comment.user.id}" %>
            (<%= comment.user.email %>) said :  <%= comment.content %>
            </li>
      <% end %>
      </ul>


      <br/>

      <%=form_tag({action:"add_comment"}) do %>

          <%= text_field_tag :content %>
         <%= hidden_field_tag 'post_id', post.id %>
   
          <%= submit_tag "Comment" %>

      <% end %>
     
      <br/>
   </li>
<% end %>
</ul>

