 

<div >

  <h1 > <%= @article.title %> </h1> 
    <p > <%= simple_format h @article.content %> </p>

    <br/>Submitted <%= time_ago_in_words(@article.created_at) %> Ago
    - <%= @article.number_of_views %> views

</div>


<ul>
    <% @article.comments.each do |comment| %>

       <li>
            <%= comment.name %> said : 
            <br/>
            <%= comment.content %>
       </li>
    <% end %>
</ul>



<br/>

<%=form_tag({action:"add_comment"}) do %>
	Name :
	<br/>
    <%= text_field_tag :name %>
	<br/>
	Comment :   
    <br/>
    <%= text_field_tag :content %>
    <%= hidden_field_tag 'article_id', @article.id %>
    <%= submit_tag "Add Comment" %>

<% end %>
<br/>
<%= link_to "Back", "/articles" %>